@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    background-color: aliceblue;
}

.global {
    list-style-type: none;
    font-size: xx-large;
    font-weight: bold;
}

.global li {
    margin-bottom: 10px;
}

.global .un {
    color: rgba(0, 0, 0, 0.200)
}

.global .deux {
    color: rgba(0, 0, 0, 0.400)
}

.global .trois {
    color: rgba(0, 0, 0, 0.600)
}

.global .quatre {
    color: rgba(0, 0, 0, 0.800)
}

.global .cinq {
    width: 300px;
    border: solid 5px black;
    color: rgba(0, 0, 0, 1);
    background-color: lightgrey;
}

.global .winner {
    color: red;
}

button {
    width: 400px;
    height: 70px;
    display: block;
    padding: 9px 25px;
    background-color: rgba(0, 136, 161, 1);
    border: 5px solid blueviolet;
    border-radius: 50px;
    cursor: pointer;
    margin: auto;
    font-size: x-large;
    font-family: 'Rubik', sans-serif;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: blueviolet;
    border: 5px solid rgba(0, 136, 161, 1);
}

textarea {
    font-size: large;
    font-weight: bold;
    display: block;
    border: solid 15px black;
    width: 400px;
    resize: none;
    height: 100px;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.roll {
    border: solid 15px black;
    border-radius: 20px;
    width: 400px;
    margin: auto;
}